* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}

/*--------------------------------------
# common
--------------------------------------*/
a {
  text-decoration: none;
}

img {
  object-fit: cover;
}

.btn {
  display: inline-block;
  min-width: 151px;
  line-height: 52px;
  border-radius: 4px;
  background: var(--Brand-Primary, #4caf4f);
  border: none;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.header__container {
  width: 1440px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.container {
  width: 1152px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.section-desc2 {
  color: var(--Neutral-Grey, #717171);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}

.section-heading2 {
  color: var(--Neutral-D_Grey, #4d4d4d);
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.22; /* 122.222% */
}

.section-heading3 {
  color: var(--Neutral-D_Grey, #4d4d4d);
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 36px; /* 128.571% */
}

.section-desc3 {
  color: var(--Neutral-Grey, #717171);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.42; /* 142.857% */
}

/*--------------------------------------
# Header styling
--------------------------------------*/
.header {
  background: var(--Neutral-Silver, #f5f7fa);
}

.header__fixed {
  position: sticky;
  top: 0;
}

.header__body {
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__logo-icon {
  width: 35px;
  height: 24px;
}

.header__logo-text {
  width: 111.49px;
  height: 20.662px;
}

.header__navbar {
  margin-left: auto;
}

.header__list {
  display: flex;
  gap: 50px;
}

.header__item {
  padding: 30px 0;
}

.header__link {
  color: var(--Text-Gray-900, #18191f);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  padding: 10px;
}

.header__link:hover {
  text-shadow: 1px 0 0 black;
}

.header__cta {
  margin-left: 124.5px;
  display: flex;
  gap: 14px;
  align-items: center;
}

.header__login {
  /* display: inline-block; */
  min-width: 77px;
  line-height: 40px;

  border-radius: 6px;
  background: var(--Neutral-Silver, #f5f7fa);
  cursor: pointer;
  color: var(--Brand-Primary, #4caf4f);
}

.header__login:hover {
  border: 1px solid #4caf4f;
}

.header__signup {
  min-width: 91px;
  line-height: 18px;

  border-radius: 6px;
}

.header__signup {
  color: var(--Default-White, #fff);
  min-width: 91px;
  line-height: 40px;

  font-size: 1.4rem;
  font-weight: 500;
}
/*----------------------------------------------
# hero section styling
------------------------------------------------*/
.hero {
  padding: 96px 0;
  background: var(--Neutral-Silver, #f5f7fa);
  /* min-height: 100vh; */
}

.hero__body {
  display: flex;
  gap: 100px;
  justify-content: space-between;
}

.hero__content {
  margin: 65.5px 0;
  width: 657px;
}

.hero__title {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.hero__heading {
  color: var(--Neutral-D_Grey, #4d4d4d);
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1.19; /* 118.75% */
}

.hero--year {
  color: var(--Brand-Primary, #4caf4f);
}

.hero__register {
  margin-top: 32px;
  min-width: 128px;
  line-height: 52px;
  color: var(--Neutral-White, #fff);
  font-weight: 500;
}

.hero__img {
  width: 391px;
  height: 407px;
}

/*---------------------------------------------
# client section styling
-----------------------------------------------*/
.client {
  margin-top: 20px;
  padding: 20px 0;
}

.client__body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.client__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* justify-content: center; */
  align-items: center;
}

.client__logo-list {
  height: 98px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.client__logo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

/*---------------------------------------------
# section styling
-----------------------------------------------*/
.community {
  padding: 20px 0;
}

.community__body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.community__title {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  text-align: center;
}

.community__row {
  display: flex;
  justify-content: space-between;
  gap: 127.5px;
}

.community__item {
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--Neutral-White, #fff);
  box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
}

.community__member-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  align-items: center;
}

.community__member-icon {
  width: 65px;
  height: 56px;
  position: relative;
}

.community__member-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
}

.community__bg {
  position: absolute;
  width: 50px;
  height: 49px;
  border-radius: 18px 5px 10px 5px;
  background: var(--Tint-T5, #e8f5e9);
  top: 7px;
  right: 0;
  opacity: 0.5;
}

.community__desc {
  text-align: center;
}
/*---------------------------------------------
# unlock section styling
-----------------------------------------------*/
.unlock {
  padding: 20px 0;
  margin-top: 32px;
}

.unlock__body {
  display: flex;
  gap: 49px;
  align-items: center;
}

.unlock__media {
  margin: 52px 0;
}

.unlock__content {
  width: 661px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: start;
}

.unlock__summary {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.unlock__heading {
  width: 601px;
}

.unlock__cta {
  min-width: 151px;
  line-height: 52px;
  color: var(--Neutral-White, #fff);
  font-size: 1.6rem;
  font-weight: 500;
}

/*---------------------------------------------
# achievement section styling
-----------------------------------------------*/
.achievement {
  padding: 64px 0;
  margin-top: 48px;
  background: var(--Neutral-Silver, #f5f7fa);
}

.achievement__body {
  display: flex;
  align-items: center;
  gap: 72px;
  justify-content: space-between;
}

.achievement__content {
  margin: 20px 0;
  width: 540px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.achievement__heading {
  width: 408px;
}

.achievement__counts {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.achievement__row {
  display: flex;
  align-items: center;
  gap: 30px;
}

.achievement__item {
  display: flex;
  width: 255px;
  gap: 16px;
  align-items: center;
}

.achievement__icon {
  width: 48px;
  height: 48px;
}

/*---------------------------------------------
# customer section styling
-----------------------------------------------*/
.customer {
  margin-top: 48px;
  padding: 32px 0;
  background: var(--Neutral-Silver, #f5f7fa);
}

.container__body {
  display: flex;
  gap: 78px;
}

.customer__img {
  width: 326px;
  height: 326px;
  border-radius: 8px;
  /* background: url(<path-to-image>) lightgray 50% / cover no-repeat; */
  box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.4);
}

.customer__content {
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.customer__summary {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.customer__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.customer__info-heading {
  color: var(--Brand-Primary, #4caf4f);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
}

.customer__desc-2 {
  color: var(--Neutral-L_Grey, #89939e);
}

.customer__row {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
}

.customer__brands {
  display: flex;
  gap: 41px;
  min-width: 493px;
}

.customer__brand-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

.customer__cta {
  min-width: 223px;
  display: flex;
  gap: 8px;
}

.customer__heading4 {
  color: var(--Brand-Primary, #4caf4f);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4; /* 140% */
}


/*---------------------------------------------
# section styling
-----------------------------------------------*/
/*---------------------------------------------
# section styling
-----------------------------------------------*/
