* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}

/*--------------------------------------
# common
--------------------------------------*/
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 151px;
  line-height: 52px;
  border-radius: 4px;
  background: var(--Brand-Primary, #4caf4f);
  border: none;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.header__container {
  width: 1440px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.container {
  width: 1152px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.section-desc {
  color: var(--Neutral-Grey, #717171);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5; /* 150% */
}

/*--------------------------------------
# Header styling
--------------------------------------*/
.header {
  background: var(--Neutral-Silver, #f5f7fa);
}

.header__fixed {
  position: sticky;
  top: 0;
}

.header__body {
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__logo-icon {
  width: 35px;
  height: 24px;
}

.header__logo-text {
  width: 111.49px;
  height: 20.662px;
}

.header__navbar {
  margin-left: auto;
}

.header__list {
  display: flex;
  gap: 50px;
}

.header__item {
  padding: 30px 0;
}

.header__link {
  color: var(--Text-Gray-900, #18191f);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  padding: 10px;
}

.header__link:hover {
  text-shadow: 1px 0 0 black;
}

.header__cta {
  margin-left: 124.5px;
  display: flex;
  gap: 14px;
  align-items: center;
}

.header__login {
  /* display: inline-block; */
  min-width: 77px;
  line-height: 40px;

  border-radius: 6px;
  background: var(--Neutral-Silver, #f5f7fa);
  cursor: pointer;
  color: var(--Brand-Primary, #4caf4f);
}

.header__login:hover {
  border: 1px solid #4caf4f;
}

.header__signup {
  min-width: 91px;
  line-height: 18px;

  border-radius: 6px;
}

.header__signup {
  color: var(--Default-White, #fff);
  min-width: 91px;
  line-height: 40px;

  font-size: 1.4rem;
  font-weight: 500;
}
/*----------------------------------------------
# hero section styling
------------------------------------------------*/
.hero {
  padding: 96px 0;
  background: var(--Neutral-Silver, #f5f7fa);
  min-height: 100vh;
}

.hero__body {
  display: flex;
  gap: 100px;
  justify-content: space-between;
}

.hero__content {
  margin: 65.5px 0;
  width: 657px;
}

.hero__title {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.hero__heading {
  color: var(--Neutral-D_Grey, #4d4d4d);
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1.19; /* 118.75% */
}

.hero--year {
  color: var(--Brand-Primary, #4caf4f);
}

.hero__register {
  margin-top: 32px;
  min-width: 128px;
  line-height: 52px;
  color: var(--Neutral-White, #fff);
  font-weight: 500;
}

.hero__img {
  width: 391px;
  height: 407px;
}

/*---------------------------------------------
# section styling
-----------------------------------------------*/
